/* .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  list-style: none;
}

button {
  background-color: #e0d3c1;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  margin: 0px 0px 25px 0px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 70px;
  width: 600px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

body {
  background-color: #fbeee9;
}


button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
} */
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  background-color: #e0d3c1;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 15px 30px;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%; /* Fallback for non-flexbox supporting browsers */
  max-width: 600px;
  margin: 15px 0px 0px 0px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

body {
  background-color: #fbeee9;
  margin: 0;
  padding: 0;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .buttons {
    justify-content: space-around;
  }
}
